.task-end-date-display-container {
    background-color: white;
    border-radius: 16px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
}

.task-end-date-display {
    font-size: 12px;
}

.delete-selected-date {
    width: 16px;
    height: 16px;
    color: black;
    background-color: #e1e1e1;
    border: none;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}