.goals-kanban-content-selector {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.goals-kanban-content-selector-button {
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}