.goals-edit-modal-notes-body-container {
    width: calc(100% - 40px);
    height: 75%;
    padding: 0 20px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    overflow: auto;
}

.notes-create-note-form-container {
    height: calc(25% - 70px);
    position: relative;
    padding: 10px 0 0 0;
    background-color: white;
}

.notes-create-note-form {
    height: 100%;
}

.notes-create-note-input {
    width: calc(100% - 20px);
    height: 100%;
    padding: 0;
    border: 0;
    padding: 0 10px
}

.notes-create-note-input:focus {
    outline: none;
}

.notes-create-form-submit-button {
    display: none;
}