.home-jumbotron-container {
    width: calc(100% - 15px);
    height: 50vh;
    background-color: #23232e;
    padding-left: 15px;
}

.home-jumbotron-wave {
    position: relative;
}

.home-welcome-message-container {
    position: absolute;
    top: 10%;
    max-width: 70%;
    left: 15px;
}

.home-jumbotron-auth-container {
    position: absolute;
    top: 10%;
    right: 30px;
    z-index: 10;
}